@import url("https://use.typekit.net/hkf6inh.css");

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

.banner {
    background: url('assets/snobalt-dyno-60.gif');
    position: relative;
    height: 150px;
    max-width: 1600px;
    margin: 0 auto;
    background-position: 0%;
    background-position: 0% 64%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);

}

.shadow-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .5;
}

.banner-text {
    color: white;
    font-size: 13px;
    position: absolute;
    z-index: 5;
    transform: scale(1.5, 1.5);
    opacity: .7;
    font-family: pirulen, sans-serif;
    padding: 10px;
    border: solid 1px #e10600;
    align-self: center;
    margin: 0 auto;
}

.fa-envelope {
    font-size: 20px;
    color: #bebebe;
    padding: 10px;
    border-radius: 50%;
    margin: 25px;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
    cursor: pointer;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
    padding: 10px;
    /* align-items: center; */
    width: 100%;
    width: calc( 100% - 20px);
    max-width: 1580px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    padding: 10px;
}

.testimonial-id {
    display: flex;
    justify-content: space-between;
}

.testimonial-review {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.testimonial-review > h4,p {
    margin:0;
}

.fa-star {
    color: gold;
}

.photo-gallery-container {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
    height: 300px;
}

.gallery-row {
    display: flex;
    width: inherit;
    height: 33.33%;
}

.reverse {
    flex-direction: row-reverse;
}

.image-long {
    flex-basis: 60%;
    border:solid 1px white;
    background:green;
}

.image-short {
    flex-basis: 40%;
    border: solid 1px white;
    background: yellow;
}

.image-1 {
    background: url('assets/ecotec-dyno-day-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-2 {
    background: url('assets/brandon-working-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-3 {
    background: url('assets/TimATS3-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-4 {
    background: url('assets/Wbody52-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-5 {
    background: url('assets/ecotec-dyno-day-2-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-6 {
    background: url('assets/AlWorking-small.jpg');
    background-size:cover;
    background-position: 0%;
}


#contact-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
    margin: 25px 0px 25px 0px;
    padding: 10px;
    justify-content: center;
    width: calc(100% - 20px);
    max-width:1580px;
}

.contact-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.contact-text {
    margin: 0;
}

.contact-link {
    margin:0 0 25px 0;
}

.contact-warranty {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:inherit;
    padding: 0;
    text-align: center;
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-10px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@media only screen and (min-width: 768px) {
    .photo-gallery-container {
        height: 600px;
    }

    .banner {
        height: 250px;
    }

}

@media only screen and (min-width: 1224px) {
    .photo-gallery-container {
        height: 900px;
    }

    .banner-text {
        font-size: 60px;
        padding: 30px 100px;
    }

    .fa-envelope {
        font-size: 40px;
    }

    .container {
        font-size: 16px;
    }
}

@media only screen and (min-width: 2500px) {
    .photo-gallery-container {
        height: 1200px;
    }
}