@import url("https://use.typekit.net/hkf6inh.css");

ul {
    list-style-type: none;
}

.container {
    /* width: 100%;
    height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

.banner {
    background: url('assets/snobalt-dyno-60.gif');
    position: relative;
    height: 150px;
    max-width: 1600px;
    margin: 0 auto;
    background-position: 0%;
    background-position: 0% 64%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);

}

.shadow-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .5;
}

.banner-text {
    color: white;
    font-size: 13px;
    position: absolute;
    z-index: 5;
    transform: scale(1.5, 1.5);
    opacity: .7;
    font-family: pirulen, sans-serif;
    padding: 10px;
    border: solid 1px #e10600;
    /* justify-self: center; */
    align-self: center;
    margin: 0 auto;
}

.fa-envelope {
    font-size: 20px;
    color: #bebebe;
    padding: 10px;
    border-radius: 50%;
    margin: 25px;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
    padding: 10px;
    align-items: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    padding: 10px;
    width: calc(100% - 10px);
}

.testimonial-id {
    display: flex;
    justify-content: space-between;
}

.testimonial-review {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.testimonial-review > h4,p {
    margin:0;
}

.fa-star {
    color: gold;
}

.photo-gallery-container {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
}

.gallery-row {
    display: flex;
    width: inherit;
}

.reverse {
    flex-direction: row-reverse;
}

.image-long {
    flex-basis: 60%;
    height: 100px;
    border:solid 1px white;
    background:green;
}

.image-short {
    flex-basis: 40%;
    height: 100px;
    border: solid 1px white;
    background: yellow;
}

.image-1 {
    background: url('assets/ecotec-dyno-day-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-2 {
    background: url('assets/brandon-working-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-3 {
    background: url('assets/TimATS3-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-4 {
    background: url('assets/Wbody52-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-5 {
    background: url('assets/ecotec-dyno-day-2-small.jpg');
    background-size:cover;
    background-position: 0%;
}

.image-6 {
    background: url('assets/AlWorking-small.jpg');
    background-size:cover;
    background-position: 0%;
}


#contact-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.32);
    margin: 25px 0px 25px 0px;
    padding: 10px;
    justify-content: center;
    width: calc(100% - 20px);

}

.contact-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.contact-text {
    /* flex-basis: 75%; */
    margin: 0;
}

.contact-link {
    /* flex-basis: 25%; */
    margin:0 0 25px 0;
}

.contact-warranty {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:inherit;
    padding: 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {

}